@use "../../_styles/mixins" as *;

.projects-list {
  @include media-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 48px;
    padding: 24px;
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 32px;
  }
}
