@use "@/styles/mixins" as *;

[data-theme="dark"] .contact__icons-img {
  filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(157deg)
    brightness(100%) contrast(102%);
}

.contact {
  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    @include media-desktop {
      flex-direction: row;
      justify-content: center;
      gap: 96px;
    }
  }

  &__icons-link {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__icons-img {
    display: block;
    width: 100px;

    filter: invert(38%) sepia(14%) saturate(1314%) hue-rotate(174deg)
      brightness(96%) contrast(85%);
  }
}
